/* External CSS File - Consistent Styling Across Multiple Pages in an HTML File (Chapter 10) */

body {
    font-family: Georgia, 'Times New Roman', Times, serif; /* This font family and all other parameters in the body will be inherited by all child elements; 
    Font is also chosen to help improve readability. (Chapter 12) */
    color: #333; /* Dark gray is an appropriate color for readability. (Chapter 11) */
    background-color: rgb(236, 199, 130); /* Desert Orange Background color to be easy on the eyes. (Chapter 11) */
    font-size: 150%; /* Base font size for readability and convenience. (Chapter 12)*/ 
}

/* The headings will inherit font-family and color from the body but will have a different font size. */
h2 {
    font-size: 160%; /* Larger than body text for emphasis on core sections. (Chapter 12) */ 
}

/* Paragraphs inherit font-family, font size, and color. (Chapter 12)*/
p {
    line-height: 1.5; /* Line spacing improves readability. (Chapter 12) */
}